/*Colours and fonts*/

body{
  background: rgb(210,210,230);
  color:rgb(70,60,60);
  font-family: 'Bitter', serif;
  font-size: 16px;
  word-spacing: 2px;
  letter-spacing: 0.7px;
}
h1{
  color:rgb(120,60,120);
  font-family: 'Overpass', sans-serif;
  font-weight: 800; 
  font-size:32px;
}

h2{
  color:rgb(130,100,130);
  font-family: 'Overpass', sans-serif;
  font-weight: 600: 
  font-size:32px;

}

a{
  text-decoration: none;
  color:rgb(90,60,90);
  font-weight:700;
}

a:hover {
  color:rgb(60,20,60);
}

.container{
  width: 1000px;
  margin: 40px auto;
}

@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 500px;
  }
}

.divs-centre{
  padding: 40px;
    background: white;
    margin: 20px 0px;
    box-shadow: 0px 10px 30px rgb(10 0 10 / 10%);
    border-radius: 4px;
    text-align: center;

}

.list-inline {
    list-style-type: none;
    padding-left: 0px
}

.list-inline li{
  display: inline;
  padding: 10px;
  
}

.list-inline i{
  font-size: 60px;
}
.btn-purple{
  background-color: rgb(90,60,90);
  color: rgb(230,200,230);
  padding: 15px 20px;
  border-radius: 5px;
}


.btn-purple:hover {
  background-color: rgb(30,10,30);
  color: rgb(230,200,230);
  
}

.divs-noback{
  background: none;
  box-shadow: none;
}


#intro p{
  margin: 40px;
}
